* {
	outline: 1px solid rgb(255, 0, 0);
  	outline-offset: -1px;
	transition: all 0.5s ease-in-out;
    box-sizing: border-box;
    font-family:monospace;

}

html, body {
    margin: 0;
    
}

html {
    background-color: brown;
    height: 100%;
    /* overflow: auto; */
    display: block;
}

body {
    background-color: aqua;
    min-height: 100%;

    /* display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 20px;
     */
}

.main {
    background-color:aquamarine;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.nav {
    background-color:rgba(255, 255, 255, 0.5);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    padding: 4px 8px;
    backdrop-filter: blur(16px);
    z-index: 1;
    /* filter:blur(5px) */
}

div span {
    background-color: blueviolet;
    font-weight: bolder ;
}
.name {
    background-color: orange;
}

.about {
    background-color: pink
}

.wrapped-links {
    background-color:chartreuse;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0px;
    min-height: 100vh;
    overflow:visible;
}

.single-link {
    background-color: white;
    display: block;
    padding: 20px;
    width: 20% /*displays 5 items per row */
    
}

div img {
    height: 100%;
    width: 100%;
}

@media (max-width: 1420px) {
    .single-link {
        width: 25%;  /*displays 4 items per row */
    }   
}

@media (max-width: 760px) {
    .single-link {
        width: 50%;  /*displays 2 items per row */
    }   
}


